*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-y: scroll;
	
}

.hidden {
	display: none;
}

.tal-img {
	background: url(../images/talent_bg.png) no-repeat center center fixed;
  background-size: cover;
	
}

.acad-img {
	background: url(../images/academy_bg.png) no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
	opacity: 0;
}


body,html {
	margin: 0 !important;
	padding: 0 !important;
  font-family: 'Open Sans', sans-serif;
	height: 100%;
}

a {
  text-decoration: none;
  color: #555;
	opacity: 0.8;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: #fff;
 	display: block;
	padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 1em;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #999;
  color: #ffffff;
}
.tab-group .active a {
  background: #555;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #555;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  left: 10px;
  color: #555;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
	opacity: 0.5;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 1.2em;
	font-weight: 300;
}
label .req {
  margin: 2px;
  color: crimson;
}

label.active {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
  left: 2px;
  font-size: 14px;
	opacity: 1;
}
label.active .req {
  opacity: 1;
}

label.highlight {
  color: #555;
}

input, textarea {
  font-size: 1.5em;
	font-weight: 300;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 5px;
  background: none;
  background-image: none;
  border: 1px solid rgb(213, 218, 229);
  color: #555;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #555;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .1em;
  background: #FEB129;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #F89231;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.img-wrapper {
	height: auto;
    width: 150px;
    margin: auto;
    padding-bottom: 1.2em;
}


.modal-footer{
	border: none;
}

.mh-custom {
	background: #555;
	border: none;
	color: #fff;
}

.close {
	color: #fff;
}

